{% trans_default_domain 'FOSUserBundle' %}






<nav id="nav" style="position: fixed; top: 0; left: 3%; width: 100%;">
    <ul>
        <li><a href="#intro" class="active">Profil</a></li>
        <li><a href="#first">Tableau de bord</a></li>
        <li><a href="#second">Données</a></li>
        <li> <a href="#cta"> Parametres  </a></li>
    </ul>
</nav>

<!-- Main -->
<div id="main">

    <!-- Introduction -->
    <section id="intro" class="main">
        <div class="spotlight">
            <div class="content">
                <header class="major">
                    <h2>Bienvenue  {{ user.username }} </h2>
                </header>
               
                <div class="fos_user_user_show">
    <p>{{ 'profile.show.username'|trans }}: {{ user.username }}.</p>
    <p>{{ 'profile.show.email'|trans }}: {{ user.email }}</p>
    <p> Nom de l'entreprise:  {{ user.nomsociete }} .</p>
    <p> Chiffre d'affaire: {{user.chiffre }}  euros.</p>
    <p> Entreprise: {{user.type }}.   </p>
    <p> Ville:  {{user.ville }}. </p>
    <p>Telephone:  {{ user.telephone }}. </p>
    <p> Site internet: {{user.siteweb }}. </p>
   
    <a style="color: #0033ff" href="{{ path('vmp_portail_forms') }}"> Completez ou Modifiez vos données personnels. </a>
</div>
                
                
                <ul class="actions">
                    <!--	<li><a href="generic.html" class="button"></a></li>-->
                    
                </ul>
            </div>
            <span class="image"><img src="images/v1.png" alt="" /></span>
        </div>
    </section>

    <!-- First Section -->
    <section id="first" class="main special">
        <header class="major">
            <h2>Tableau de bord</h2>
        </header>
      {#  <ul class="features"> #}
        
     {#  <div id="curve_chart" ></div> #}
      
             
      {{render(controller("VMPPortailBundle:Advert:view")) }} 
          
          
  
         
        <footer class="major">
            <ul class="actions">
                <!--	<li><a href="generic.html" class="button">Learn More</a></li>-->
               
            </ul>
        </footer>
    </section>

    <!-- Second Section -->
    <section id="second" class="main special">
        <header class="major">
            <h2> Données </h2>
            <p>
                Données Entreprise
            </p>
        </header>
       
         {{render(controller("VMPPortailBundle:Advert:forma")) }} 
        
        <p class="content"></p>
        <footer class="major">
            <ul class="actions">
                <!--	<li><a href="generic.html" class="button">Learn More</a></li>-->
            </ul>
        </footer>
    </section>

    <!-- Get Started -->
    <section id="cta" class="main special">
        <header class="major">
            <h2>Personnaliser votre compte</h2>
        </header>
        <footer class="major">
            <ul class="actions">
                <li><a href="{{path("fos_user_profile_edit")}}" class="button special">Mise à jour du profile</a></li>
                <li><a href="{{path("fos_user_change_password")}}" class="button special">Modification du mot de passe</a></li>
                {% if app.user.username=="VMPadmin" %}
                <li><a href="http://localhost:8000/admin" class="button">Administration</a></li>
                {% endif %}
            </ul>
        </footer>
    </section>

</div> 
    

    
    
          
         
          

    