{% trans_default_domain 'FOSUserBundle' %}






<nav id="nav" style="position: fixed; top: 0; left: 3%; width: 100%;">
    <ul>
        <li><a href="#intro" class="active">Profil</a></li>
        <li><a href="#first">Tableau de bord</a></li>
        <li><a href="#second">Statistique</a></li>
        <li> <a href="#cta"> Parametres  </a></li>
    </ul>
</nav>

<!-- Main -->
<div id="main">

    <!-- Introduction -->
    <section id="intro" class="main">
        <div class="spotlight">
            <div class="content">
                <header class="major">
                    <h2>Bienvenue  {{ user.username }} </h2>
                </header>
               
                <div class="fos_user_user_show">
    <p>{{ 'profile.show.username'|trans }}: {{ user.username }}</p>
    <p>{{ 'profile.show.email'|trans }}: {{ user.email }}</p>
   

</div>
                
                
                <ul class="actions">
                    <!--	<li><a href="generic.html" class="button"></a></li>-->
                </ul>
            </div>
            <span class="image"><img src="images/v1.png" alt="" /></span>
        </div>
    </section>

    <!-- First Section -->
    <section id="first" class="main special">
        <header class="major">
            <h2>Tableau de bord</h2>
        </header>
        <ul class="features">
            <li>
                <!--	<span class="icon major style1 fa-code"></span>-->
                <h3>pilotage d'entreprise </h3>
                <p>Nos conseils en gestion et pilotage d'entreprise permettent aux managers et aux opérationnels
                    de disposer d’un système de contrôle de la performance et d’aide à la décision.</p>
            </li>
            <li>
                <!--	<span class="icon major style3 fa-copy"></span>-->
                <h3>Audit</h3>
                <p>Notre audit permet de vous donner une situation précise de votre entreprise.
                    Notre démarche d'audit s'inscrit dans un cadre plus général mis en oeuvre pour l'amélioration continue
                    de votre environnement de contrôle interne.</p>
            </li>
            <li>
                <!--<span class="icon major style5 fa-diamond"></span>-->
                <h3>Systèmes d'informations</h3>
                <p>Vous comptez mettre en place un Système d'Informations pour votre entreprise, nous vous apportons toute notre expérience</p>
            </li>
        </ul>
        <footer class="major">
            <ul class="actions">
                <!--	<li><a href="generic.html" class="button">Learn More</a></li>-->
            </ul>
        </footer>
    </section>

    <!-- Second Section -->
    <section id="second" class="main special">
        <header class="major">
            <h2>Statistiques</h2>
            <p>

            </p>
        </header>
        <ul class="statistics">

            <li class="style2">
                <span class="icon fa-folder-open-o"></span>
                <strong></strong> Optimisation
            </li>
            <li class="style3">
                <span class="icon fa-signal"></span>
                <strong></strong> Statistiques
            </li>
            <li class="style4">
                <span class="icon fa-laptop"></span>
                <strong></strong> Tableaux de bord
            </li>

        </ul>
        <p class="content"></p>
        <footer class="major">
            <ul class="actions">
                <!--	<li><a href="generic.html" class="button">Learn More</a></li>-->
            </ul>
        </footer>
    </section>

    <!-- Get Started -->
    <section id="cta" class="main special">
        <header class="major">
            <h2>Personnaliser votre compte</h2>
        </header>
        <footer class="major">
            <ul class="actions">
                <li><a href="{{path("fos_user_profile_edit")}}" class="button special">Mise à jour du profile</a></li>
                <li><a href="{{path("fos_user_change_password")}}" class="button special">Modification du mot de passe</a></li>
                {% if app.user.username=="AdminVMP" %}
                <li><a href="http://localhost:8000/admin" class="button">Administration</a></li>
                {% endif %}
            </ul>
        </footer>
    </section>

</div> 
    
    