<html>
  <head> 
  	<title> Tableau de bord</title>
  	
  </head>

<body>
 <div id="line_chart" style="widht:900px;" ></div>

  <div id="div_chart"></div>
    
     <div id="combo"  ></div>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
        
        {{ gc_draw(piechart, 'div_chart') }}
             {{ gc_draw(chart, 'line_chart') }}
                 {{ gc_draw(combo, 'combo') }}
    </script>
           
     <div  class="well">

 {# {{ form(form) }} 

    
 
  {{ form_start(form, {'method': 'post', 'action': path('vmp_portail_view')}) }}
    
  
{{ form_end(form) }}


<a href="{{ path('fos_user_profile_show') }}"> Retourner au profile. </a>

</div> 





   

  
<div id='t'>
  <table style='border-collapse: collapse;background-color: #FFFFFF;'>
      <tr> 
          <td>chiffre d'affaires</td>
           <td>Mois</td>
           <td>Montant</td>
           
      </tr>
       {% for aff in listaff %}
       <tr> 
            
           
          <td>{{ aff.nom }}</td>
           <td>{{ aff.mois}}</td>
           <td>{{ aff.montant }}</td>
         
            
      </tr>
      
      {% endfor %}
      
      
   
         
  </table>
</div>   
#}
      <style type='text/css'>
          td, th /* Mettre une bordure sur les td ET les th */

{

    border: 1px solid black;

}

body{
    background-color: #960cf2;
}
          </style>
          </body>
    </html>     
     